@(bucketName: String)

@import model.Model._
@import com.micronautics.aws.bitBucket.BBCopy

@main("Deep Copy of " + bucketName) {
    <pre>@(
        if (!s3.bucketExists(bucketName)) {
          "Error: Bucket %s is not defined".format(bucketName)
        } else {
            val ownerName = bitBucketBasicAuth.userid
            val fileMetaJson: String = bitBucketBasicAuth.dirMetadata(ownerName, bucketName, "")
            //val fileSize: Int = JSON.parseFileSize(fileMetaJson, fileName)
            ownerName + "; " + fileMetaJson
        }
    )</pre>
}
