@(message: String)

@import model.Model._
@import com.amazonaws.services.s3.model.Bucket

@main("Your AWS S3 Buckets") {
  <table>
    @buckets.map { (bucket: Bucket) =>
      <tr>
          <td valign="middle"><form action="/bb/deepCopyBB" method="post" style="display: inline;">
              <input type="submit" name="action" value="@if(bitBucketBasicAuth.repoExists(bucket.getName)) { Deep copy } else { Create repo }" class="smallButton" />
              <input type="hidden" name="bucketName" value="@bucket.getName"/>
          </form></td>
          <td valign="middle"><tt>@if(s3.isWebsiteEnabled(bucket.getName)) {
              <a href="@bucketUrl(bucket.getName)" target=_blank>@bucket.getName</a>
              } else { @bucket.getName } </tt></td>
      </tr>
    }
  </table>
}
